* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 
 .btn{ 
   border: none;
   padding: 8px;
   color: white;
   background-color: #000;
   text-align: center;
   cursor: pointer;
   width: 200px;
   font-size: 18px;
   border-radius: 10px;
 }
 .List{
   margin: 1rem;
   font-size: 20px;
 }
 .header{
   margin: 1rem;
 }
 img{
   margin: 1rem;
 }